.layout {
    display: grid;
    grid-template:  
        "navbar navbar" var(--navbar-height)
        "sidebar content" 1fr / auto 1fr;
}

.navbar {
    grid-area: navbar;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
    padding: 20px;
}
