.layout {
    display: grid;
    grid-template: auto 1fr var(--navbar-height) 1fr "navbar navbar"
        "sidebar content";
}

.navbar {
    grid-area: navbar;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
    padding: 20px;
}
