.navbar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 100%;
    background-color: var(--inverted-bg-color);
}

.link {
    display: flex;
    align-items: center;
    gap: 15px;

    .icon {
        fill: var(--inverted-primary-color);
    }
}
